/* .footer_bg {
  margin-top: 10%;
} */
.coin_shree {
  margin-top: 5%;
}
.wht_shree {
  padding-top: 12%;
}
p.coin_txt {
  text-align: justify !important;
}
.coin_border {
  border-radius: 1.25em;
}
