@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Roboto&display=swap");
.App {
  text-align: center;
}
.company_name {
  font-family: "Poppins", sans-serif;
}
.App-logo {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
  }
}
img.logo {
  height: 8vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #050914;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 65%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 10px;
  /* margin-top: 10% !important; */
}
img.bg {
  /* image-rendering: -webkit-optimize-contrast; */
  background-image: cadetblue;
  /* object-fit: cover; */
  width: 140%;
  height: 100vh;
}
.form-group.form-check.already {
  margin-left: -18px;
}

/*  28/2/22 loader */

/* 4/3/22 */

.nav-link {
  color: #fff !important;
}
img.logo_header {
  width: 7%;
}
.carousel-control-prev {
  left: 0;
  display: none !important;
}
.carousel-control-next {
  right: 0;
  display: none !important;
}
div.banner_txt {
  position: absolute;
  top: -28em;
  left: -6em;
  font-family: "Poppins", sans-serif;
}
.slider1 {
  opacity: 0.6 !important;
}
p.sample_txt {
  font-size: 14px;
  width: 44%;
  text-align: justify;
  /* color: #a8abab; */
  /* margin-top: 15px; */
}
/* button */

.btn-dark-orange {
  color: #fff;
  border: 3px solid linear-gradient(to right #1b2f43) !important;
  background: none !important;
}
.btn-dark-orange:hover {
  color: #a8abab !important;
  border: 3px solid
    linear-gradient(to right, #1b2f43, #1b2f43, #355e86, #3cf0c5) !important;
  background: #1b2f43 !important;
}
.btn-dark-white {
  color: #fff;
  border: none !important;
  background: #520abb !important;
}
.btn-dark-white:hover {
  color: #520abb !important;
  border: 3px solid
    linear-gradient(to right, #1b2f43, #1b2f43, #355e86, #3cf0c5) !important;
  background: white !important;
}
img.about_img {
  width: 33% !important;
  height: 10%;
}
img.d-block.w-100.globe-img {
  opacity: 0.4;
  position: relative;
  top: -5em;
}
.card-img-top {
  width: 29% !important;
}
.card-img-top1 {
  width: 11% !important;
  margin-top: -63px;
}
.how_card {
  border-radius: 1.25rem !important;
}
span.text-white.plus.text-end {
  position: relative;
  top: 19px;
  left: -1em;
  font-size: 33px;
  opacity: 0.5;
}
.token_card {
  background-image: linear-gradient(to bottom, #0c2e47, #06102d);
  border: none;
  border-left-style: 3px solid #ff7876 !important;
  padding: 3px 11px !important;
  /* width: 75%; */
  border-radius: 0.25rem;
}
.card-img-top2 {
  width: 75% !important;
}
/* .mobile {
  -ms-transform: rotate(20deg); 
  transform: rotate(20deg);
} */
.social_part {
  border-bottom: 1px solid #646566;
}
.menus {
  margin-left: 50px;
}
.down_img {
  width: 108% !important;
  margin-left: 7em;
  margin-top: -9em;
}
.bg-shree-transparent {
  background-color: #ffffff29;
  padding: 10px;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 1.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  /* margin-top: 5px; */
}
.insta {
  border-radius: 30px;
  width: 44px;
  height: 44px;
}
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}
/* mobile */
@media only screen and (max-width: 600px) {
  .bg_abut {
    width: 100%;
    height: 490px;
  }
  .how_bg {
    width: 100%;
    height: 1330px;
    position: relative;
    top: 0em;
  }
  .footer_bg {
    width: 100%;
    height: 1064px !important;
    position: relative;
  }
  .white-hm {
    display: block;
  }
  .desktop_hd {
    display: none;
  }
  .mobile_hd {
    display: block;
  }
  .innertext {
    display: none;
  }
  .down_img {
    width: 108% !important;
    margin-left: 0em;
    margin-top: -1em;
  }
  .wht_shree {
    padding-top: 52%;
  }
  .app_download {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .carousel-caption {
    position: absolute;
    top: 36em;
  }
  .desktop_hd {
    display: block;
  }
  .mobile_hd {
    display: none;
  }
  .wht_shree {
    padding-top: 19%;
  }
}
@media only screen and (max-width: 1440px) {
  .desktop_hd {
    display: block;
  }
  wht_shree {
    padding-top: 13%;
  }
  .mobile_hd {
    display: none;
  }
  div.banner_txt {
    position: absolute;
    top: -26em;
    left: -6em;
    font-family: "Poppins", sans-serif;
  }
  .down_img {
    width: 108% !important;
    margin-left: 1em;
    margin-top: -9em;
    /* display: none; */
  }
}
@media only screen and (max-width: 2560px) {
  .desktop_hd {
    display: block;
  }
  .mobile_hd {
    display: none;
  }
  /* div.banner_txt {
    position: absolute;
    top: -38em;
    left: -6em;
    font-family: "Poppins", sans-serif;
  } */
}
@media only screen and (max-width: 768px) {
  .white-hm {
    display: block;
  }
  .desktop_hd {
    display: block;
  }
  .mobile_hd {
    display: none;
  }
  div.banner_txt {
    position: absolute;
    top: -29em;
    left: -3em;
    font-family: "Poppins", sans-serif;
  }
  .down_img {
    width: 108% !important;
    margin-left: 0em;
    margin-top: 0em;
  }
  .wht_shree {
    padding-top: 24%;
  }
}
.toke_pie {
  width: 100%;
  height: 660px;
}
.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.slide-right {
  animation: 4s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}
.slide-left {
  animation: 3s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
.bounce-up {
  opacity: 0.8;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  bottom: 0%;
}
.wow {
  opacity: 0;
  -webkit-transform: translate(0, 50px);
  -moz-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  transform: translate(0, 50px);
  -webkit-transition: opacity 0.6s 0.1s, transform 0.6s ease;
  transition: opacity 0.6s 0.1s, transform 0.6s ease;
  transition-delay: 0ms;
}

.wow-in-view {
  opacity: 1 !important;
  -webkit-transform: translate(0, 0) !important;
  -moz-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}

.bounce-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  transform: translateY(24px);
}
/* .abt_hd {
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
.abt_hd:nth-of-type(even) {
  transform: translateX(-600%);
}
.abt_hd.show {
  transform: translateX(0);
} */
.abt_bg {
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
  /* z-index: -1; */
}
.about_innr h1 {
  z-index: -1;
}
.top {
  animation: top1 5s forwards;
  transition: all 0.8s;
}
.bounce-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  transform: translateY(24px);
}

#video {
  position: fixed;
  z-index: -1;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.35rem 14px !important;
  clear: both;
  font-weight: 400;
  color: #081b36 !important;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  /* background-color: transparent; */
  border: 0;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #8843f2 !important;
  background-color: #e9ecef47 !important;
}
/* .earth {
  --d: 300px;
  width: var(--d);
  height: var(--d);
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
  box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
  background: url(https://i.stack.imgur.com/3SLqF.jpg) 0 / auto 100%;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  to {
    background-position: 200% 0;
  }
} */
h2.font-weight-bold.mobile_hd.text-center {
  margin-left: 107px;
  margin-top: -39px;
}
.carousel-indicators .active {
  opacity: 0 !important;
}
.how_card:hover {
  /* background-image: linear-gradient(90deg, #7e06e4 41%, #9b53e0 100%); */
  background-image: linear-gradient(to top, #000e2e 41%, #02326ad6 100%);
  color: #06102d !important;
}
.how_card {
  background-image: linear-gradient(to top, #0c2e47, #06102dba);
  /* background-color: #06102d; */
  border: none;
}
.icon1 {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.how_card:hover .icon1 {
  transform: scale(1.08);
}
.card-title {
  color: #fff;
}
.comng_sn {
  color: #fff;
}
.how_card:hover .comng_sn {
  color: #fff;
}
.how_card:hover .card-title {
  color: #fff;
}
.icon_card {
  color: #fff;
}
.how_card:hover .icon_card {
  color: #fff;
}
.form {
  width: 50px;
}
.section_abt {
  padding-top: 200px;
}

/* .card2:hover {
  background-image: linear-gradient(90deg, #7e06e4 41%, #9b53e0 100%);
  color: #06102d !important;
}
.card2 {
  background-image: linear-gradient(to bottom, #0c2e47, #06102d);

  border: none;
}
.card-title {
  color: #fff;
}
.comng_sn {
  color: #fff;
}
.card2:hover .comng_sn {
  color: #06102d;
}
.card2:hover .card-title {
  color: #06102d;
}
.icon_card {
  color: #fff;
}
.card2:hover .icon_card {
  color: #06102d;
} */
